@import url('../index.css');
@import url('../elementosCSS/sideBar.css');

/* CONTAINER PRINCIPAL E ESTRUTURA DE LINHAS */
.container_principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.linha {
  display: flex;
  gap: 2rem;
}

/* ELEMENTOS DO TOPO */
.containers_topo {
  background-color: var(--bg_container);
  border-radius: 10px;
  padding: 0.7rem;
  width: 30rem;
  height: 16rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/* GRÁFICO DE PESO */
.containers_fundo {
  background-color: var(--bg_container);
  border-radius: 10px;
  padding: 0.7rem;
  width: 100%;
  max-width: 94rem;
  height: auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
}

#graficoPeso {
  width: 100% !important;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: auto !important; /* evita conflitos */
}

.filtros-periodo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.periodo {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: var(--bg_card);
  color: var(--texto);
  font-weight: bold;
  transition: 0.3s;
}

.periodo:hover {
  color: rgb(0, 255, 115);
}

.periodo.ativo {
  color: rgb(0, 255, 115);
}

.scroll-range {
  width: 90%;
  visibility: hidden;
}