@import url('../index.css');
@import url('../elementosCSS/sideBar.css');

/* ---------------------------- */
/* ESTILO GERAL E LAYOUT BASE  */
/* ---------------------------- */

.container_principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/* ---------------------------- */
/* SIDEBAR                      */
/* ---------------------------- */

.sidebar.expanded {
  width: 150px;
}

.sidebar {
  width: 50px;
}

/* ---------------------------- */
/* TOPO: Gráfico Unificado      */
/* ---------------------------- */

.containers_topo {
  background-color: var(--bg_container);
  border-radius: 10px;
  padding: 0.7rem;
  height: 20rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.containers_topo:nth-child(1) {
  width: 50rem;
}

.containers_topo:nth-child(2) {
  width: 35rem;
}

.container_graficoUnificado {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza horizontalmente o canvas */
  justify-content: center;
}

#graficoUnificado {
  width: 100% !important;
  max-height: 225px;
  height: auto !important;
  aspect-ratio: 1/1;
  display: block;
}
.filtros-periodo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.periodo-unificado {
  border-radius: 6px;
  background-color: var(--bg_card);
  color: var(--texto);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.periodo-unificado:hover,
.periodo-unificado.ativo {
  color: rgb(0, 255, 115);
}

.scroll-range-unificado {
  width: 90%;
  visibility: hidden;
  margin: 0 auto;
  display: block;
}

.containers_topo:hover {
  transform: scale(1.02);
}

/* ---------------------------- */
/* BLOCO CALORIAS E HIDRATAÇÃO */
/* ---------------------------- */

.calorias, .hidratacao {

  text-align: left;
   justify-content: left;
}

#calorias:hover,
#hidratacao:hover {
  color: #00f285;
}

#calorias.ativo,
#hidratacao.ativo {
  color: #00f285;
}

.valores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: bold;
  text-align: left;
  font-size: 1rem;
}

.grupo-linha {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem; /* opcional: para dar um respiro nas laterais */
}

.grupo-linha .info {
  text-align: center;
  min-width: 100px; /* ou um valor razoável que garanta espaço visual */
}

.grupo-linha .info:first-child {
  text-align: left;
}

.grupo-linha .info:last-child {
  text-align: right;
}

.info {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.icones {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;  /* mantém o ícone grande */
  height:4rem;
  margin-top: -0.3rem; /* pequeno ajuste fino */
}

#icon_maximo .icon-layer {
  fill: red;
  stroke: black;
  stroke-width: 0.4;
  /* filter: drop-shadow(0 0 0.4px red); */
}

#icon_minimo .icon-layer {
  fill: #00bcd4; /* azul claro */
  stroke: black;
  stroke-width: 0.4;
  /* filter: drop-shadow(0 0 0.4px #00f2ff); */
}

#icon_media {
  margin-right:-0.4rem;
}

#icon_media .icon-layer {
  fill: gold;
  stroke: black;
  stroke-width: 0.4;
  /* filter: drop-shadow(0 0 0.4px gold); */
}

.icone_streak {
  width: 3rem !important;
  height: auto;
}

.info_total {
  text-align: center;
  font-size:0.9rem;
}

.info_total h1 {
  margin-top: 0.1rem;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0 1rem;
}

.linha_streaks {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
  padding: 0 1rem;
}

#valor_streakAtual:hover,#valor_streakTotal:hover, #valor_total:hover{
  color:#00f285;
}


/* ---------------------------- */
/* LINHA INFERIOR (Containers) */
/* ---------------------------- */

.containers_fundo {
  height: 23rem;
  background-color: var(--bg_container);
  border-radius: 10px;
  padding: 0.7rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.containers_fundo:nth-child(1) {
  width: 30rem;
}

.containers_fundo:nth-child(2) {
  width: 55rem;
}

.containers_fundo:hover {
  transform: scale(1.02);
}

.container_metricas2 {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.linha_metrica {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.icone_metrica {
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.container_metricas2 p.linha_metrica:not(:nth-child(-n+2)):hover {
  color: #00f285;
}

#icon_imc{
    width: 2rem !important;
  height: auto;
  color:rgb(26, 255, 0);
}
#icon_fogo2{
    width: 2rem !important;
  height: auto;
}
#icon_agua2{
    width: 2rem !important;
  height: auto;
}

#icon_gordura{
    width: 2rem !important;
  height: auto;
  color:rgb(255, 234, 0);
}

#icon_musculo{
    width: 2rem !important;
  height: auto;
  color:rgb(255, 39, 39);
}

.container_graficoMetricas {
  display: flex;
  flex-direction: column;
  align-items: center; /* isso centraliza tudo que tiver dentro */
  /* gap: 1rem; espaçamento entre canvas, filtros e range */
}


.scroll-range {
  visibility: hidden;
  width: 80%;
  margin: 0 auto;
}
.scroll-range.visivel {
  visibility: visible;
}

.periodo-geral {
  border-radius: 6px;
  background-color: var(--bg_card); /* ou algo neutro */
  color: var(--texto);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.periodo-geral:hover,
.periodo-geral.ativo {
  color: #00f285; /* VERDE brilhante para ativo */
}



/* ---------------------------- */
/* RESPONSIVIDADE MOBILE        */
/* ---------------------------- */

@media (max-width: 766px) {
  .container_principal {
    margin-left: 50px;
    width: calc(100% - 50px);
    align-items: center;
  }

  .linha {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .containers_topo,
  .containers_topo:nth-child(1),
  .containers_topo:nth-child(2),
  .containers_fundo:nth-child(1),
  .containers_fundo:nth-child(2) {
    width: 80vw;
    min-width: 280px;
    height: auto;
  }

  #graficoUnificado {
    width: 100% !important;
    aspect-ratio: 1.4/1;
  }

  .containers_topo:hover,
  .containers_fundo:hover {
    transform: none;
  }
}

/* ---------------------------- */
/* RESPONSIVIDADE TABLET        */
/* ---------------------------- */

@media (min-width: 767px) and (max-width: 1278px) {
  .container_principal {
    margin-left: 60px;
    width: calc(100% - 60px);
    align-items: center;
  }

  .linha {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .containers_topo:nth-child(1),
  .containers_topo:nth-child(2),
  .containers_fundo:nth-child(1),
  .containers_fundo:nth-child(2) {
    width: 40rem;
    height: auto;
    min-width: 300px;
  }

  #graficoUnificado {
    width: 100% !important;
    aspect-ratio: 2.5/1;
  }

  .containers_fundo:hover {
    transform: none;
  }
}

/* ---------------------------- */
/* RESPONSIVIDADE DESKTOP MÉDIO */
/* ---------------------------- */

@media (min-width: 1279px) and (max-width: 1600px) {
  .container_principal {
    margin-left: 60px;
    width: calc(100% - 60px);
    align-items: center;
  }

  .linha {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .containers_topo:nth-child(1),
  .containers_topo:nth-child(2),
  .containers_fundo:nth-child(1),
  .containers_fundo:nth-child(2) {
    width: 40rem;
    height: auto;
    min-width: 300px;
  }

  .containers_fundo:nth-child(1),
  .containers_fundo:nth-child(2) {
    height: 15rem;
  }

  #graficoUnificado {
    width: 100% !important;
    aspect-ratio: 2.5/1;
  }

  .containers_fundo:hover {
    transform: none;
  }
}